 {{> navigation }}
<div id="contenedor">
    <center>
            <div class="box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="Search..." />
                    </div>
                  </div>
    </center>
   
    <div id="tema"><center>
     <a href="">   <div  id="centrados">Conocimientos Basicos</div></a>
</center>
</div>

<div id="tema"><center>
        <a href="">  <div  id="centrados">Magnitudes y unidades</div></a>
</center>
</div>

<div id="tema"><center>
        <a href="">   <div  id="centrados">Vectores</div></a>
</center>
</div>

<div id="tema2"><center>
        <a href="">   <div  id="centrados">El movimiento</div></a>
</center>
</div>

<div id="tema2"><center>
        <a href="">   <div  id="centrados">Movimiento rectilineo</div></a>
</center>
</div>

<div id="tema2"><center>
        <a href="">  <div  id="centrados">Movimiento circular</div></a>
</center>
</div>

<div id="tema3"><center>
        <a href="">  <div  id="centrados">Concepto de fuerza</div></a>
</center>
</div>

<div id="tema3"><center>
        <a href="">   <div  id="centrados">Equilibrio</div></a>
</center>
</div>

<div id="tema3"><center>
        <a href="">  <div  id="centrados">Friccion</div></a>
</center>
</div>

<div id="tema3"><center>
        <a href="">  <div  id="centrados">Leyes de Newton</div></a>
</center>
</div>
<div id="tema4"><center>
       <div  id="centrados">Estamos trabajando en mas temas uwu</div>
</center>
</div>
</div>