

<div id="abajo" >
    <center><button style="background: rgba(100, 215, 253, .5);" class="boton" type="submit">
    Entrar
</button>
<button style="background: rgba(100, 215, 253, .5);" class="boton" type="submit">
    Registrar
</button></center></div>