<div id="caja"><center>
    <div id="tex" style="font-family: 'Fredoka One', cursive;
">Inciar Seccion</div>
<div>
        <img id="logo" src="/img/kelvinn.png" alt="">
<form action="/users/signin" method="POST">

     <div>
        <input class="textbox" type="email" name="email" placeholder="email" value="{{email}}">
    </div>
     <div>
        <input class="textbox" type="password" name="password" placeholder="Password" >
    </div>
    
<button class="boton" type="submit">
    Iniciar
</button>
<a href="/users/signup"><div class="boton">  Crear cuenta</div>

        </div></a>
    </div>
</form>
 
</div></center></div>